@model Reservation

<h3 class="my-5">
    @Model.Id
</h3>

<div>
    <div>
        <h4>Car: @Model.Car.Make</h4>
        <div>@Model.Car.Model</div>
        <div>@Model.Car.City</div>
        <div>@Model.Car.PricePerDay</div>
    </div>
    <div>
        <p class="button">
            <a class=" btn btn-secondary" asp-controller="Reservation" asp-action="RemoveReservation" asp-route-id="@Model.Id">Remove this reservation</a>
        </p>
    </div>
</div>